<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="org.ligi.ipfsdroid">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-feature android:name="android.software.leanback"
        android:required="false" />

    <uses-feature android:name="android.hardware.touchscreen"
        android:required="false" />

    <!--TODO update the app banner to be specific to this app - 320 x 180 px.-->

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:banner="@drawable/interplanetary_banner"
        tools:ignore="AllowBackup,GoogleAppIndexingWarning">
        <service
            android:name=".IPFSDaemonService"
            android:exported="false" />

        <activity android:name=".activities.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.broadcasters.BroadCastersActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.player.PlayerActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:label="@string/title_activity_player"
            android:parentActivityName=".activities.feed.FeedActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.feed.FeedActivity"
            android:label="@string/feed_activity_name"
            android:parentActivityName=".activities.broadcasters.BroadCastersActivity" />
        <activity
            android:name=".activities.downloads.DownloadsActivity"
            android:label="@string/downloads_activity_name"
            android:parentActivityName=".activities.broadcasters.BroadCastersActivity" />
        <activity
            android:name=".activities.player.ExoplayerActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize|screenLayout|smallestScreenSize|uiMode" />

        <activity android:name=".tv.TvActivity"
            android:label="@string/app_name"
            android:icon="@drawable/interplanetary_banner"
            android:logo="@drawable/interplanetary_banner"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.Leanback">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LEANBACK_LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name=".tv.MyContentProvider"
            android:authorities="${applicationId}"
            android:exported="false" />

    </application>

</manifest>